@import url('https://fonts.googleapis.com/css?family=Chicle');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Lexend+Exa');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai');
@import url('https://fonts.googleapis.com/css?family=Segoe+alt');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body{
  background:#E1E8ED;
  font-family: "Ubuntu";
}



a{
  color:black;
  font-family: "Ubuntu";
}

#go-to-top a{
  color: white;
  font-size: 15px;
}

#app-name a{
  color:#01579b;
  font-family: 'Lexend Exa';
  text-align: center;
}

#post-object a{
  color: black;
  font-size: 20px;
}

#intro-header-2 a{
  color: white;
  font-size: 30px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Baloo Bhai';
}

#post-object2 a{
  color: white;
  font-size: 20px;
}

#about a{
  color:whitesmoke;
  font-size: 15px;
  font-family: "Lexend Exa";
}

#logo a{
  color: black;
  font-size: 2.3em;
  font-family: 'Pacifico';
}

#logo-sm a{
  color: black;
  font-size: 2.2em;
  font-family: 'Righteous';
}

#profile-description a{
  color:white;
}


.menu-navigation a{
  color:white;
}

.business-navigation a{
  color: white;
  font-family: "Ubuntu";
}


.menu-nav a{
  color: orange
}

.bank-account{
  background-color: #01579b;
  padding: 5px;
  margin: 10px;
  text-align: center;
  color: white;
}

.floating-action{
  z-index: 11;
}

.thread{
  height: auto;
  width: 100%;
  background: white;
  border-radius: 5px;
  padding: 10px;
}

.a-row{
  flex-direction: row;
}

.comment-box{
  margin-top: 10px;
  height: auto;
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.reply-line{
  border-left-color: #E1E8ED;
  border-left-style: solid;
  border-left-width: 2px;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 5px;
  padding-bottom: 15px;
  height: auto;
  width: 100%;
}

.contact-button{
  background: #01579b;
  width: 100%;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  vertical-align: 25px;
  padding: 15px;
}

.contact-button2{
  background: #01579b;
  height: 50px;
  width: 300px;
  margin-left: 500px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  vertical-align: 25px;
  padding: 15px;
}

.receipt-div{
  color: black;
  background-color: white;
  padding: 10px;
}

.trending-wrapper{
  background-color:#01579b;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trending-title{
  font-size: 25px;
  font-weight: bold;
  font-family: "Lexend Exa";
}

.trending-title-t{
  font-size: 25px;
  font-weight: bold;
  font-family: "Lexend Exa";
  color: white
}

.trending-header{
  padding: 10px;
  width: 100%;
  color: black;
  margin-bottom: 10px;
}

.trending-box{
  padding: 10px;
  width: 100%;
  color: black;
  border: 2px solid orange;
  margin-bottom: 10px;
  border-radius: 5px;
  margin: 5px;
}

.receipt-header{
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}

.receipt-detail{
  color: black;
  text-align: center;
}

.additional{
  text-align: left;
  color: black;
}

.seller-business-header{
  color: green;
  font-weight: bold;
  font-size: 1.7em;
  padding: 10;
  height: 50px;
  text-align: center;
  background-color: white;
  font-family: "Audiowide"
}

.buyer-business-header{
  color: red;
  font-weight: bold;
  font-size: 1.7em;
  padding: 10;
  height: 50px;
  text-align: center;
  background-color: white;
  font-family: "Audiowide"
}


.transaction-success{
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
}

.transaction-token-product{
  text-align: left;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}

.seller-product{
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1.5em;
}

.seller-transaction-window{
  background-color: green;
  color: white;
  width: 100%;
  padding-top: 50px;
  height: 700px;
}


.buyer-transaction-window{
  background-color: red;
  color: white;
  width: 100%;
  padding-top: 50px;
  height: 700px;
}

.transaction-header{
  text-align: center;
  font-weight: bold;
  color: white;
  padding-bottom: 20px;
  font-size: 1.8em;
  text-decoration: underline
}

.menu-nav{
 background-color: white;
 font-weight: bold;
 padding: 10px;
}

.menu-text{
  padding: 10px;
  background-color: whitesmoke;
}

.business-text{
  padding: 10px;
  background-color: aliceblue;
}

.menu-header{
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.menu-body{
  padding: 10px;
}

.menu{
  padding-top: 30px;
}

.question{
  font-weight: bold;
}

.answer{
  padding-left: 30px;
}

.back-arrow{
  text-align: left;
  padding-top: 20px;
}

.no-1{
  text-align: 'center';
  vertical-align: 'middle';
  display: flex;
  align-items: 'center';
  padding: 10;
  color: white;
  font-family: "Audiowide";
  font-size: 1.9em;
}

.no-1 p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


.navigation{
  background-color: red;
  height: 100px;
  font-size: 1.98em;
  padding-top: 20px;
}

.post-object{
  border:2px solid whitesmoke;
  background-color: orange;
  color: white;
  padding: 5px;
}

.post-object2{
  border:2px solid whitesmoke;
  background-color: #01579b;
  color: white;
  padding: 5px;
}

.post-objectb{
  padding-top: 5px;
}


.post-object-sm{
  border-color: whitesmoke;
  border-style: solid;
  border-width: 1px;
  padding-top: 5px;
}



.post{
  height: 50px;
  background-color: white;
  margin-left: 5px;
}

.upper-navigation{
  background-color:white;
  width: 100%;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

}

.blink-me {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#upper-routes a{
  vertical-align: middle;
  color: black;
  font-size: 1.19em;
  font-weight: bold;
}

#upper-routes a:active{
  vertical-align: middle;
  color:red;
  font-size: 1.19em;
  font-weight: bold;
}

#upper-routes a:hover{
  vertical-align: middle;
  color:red;
  font-size: 1.19em;
  font-weight: bold;
}



.upper-routes{
  display: flex;
  align-items: center;
  justify-content: center;
}


.welcome-messageb{
  vertical-align: middle;
  padding-top: 30px;
  padding-bottom: 10px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  box-shadow: 0 0 2px #666;
}


.sticky-header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}


.navigation-header{
  background-color:#01579b;
  box-shadow: 0 0 10px #01579b;
  height: 60px;
  font-size: 0.9em;
  padding: 10px;
  color: white;
  width: 100%;
  margin: 5px;
  margin-bottom: 0px;
  font-family: 'Lexend Exa';

}

.navigation-icon{
  background-color:gray;
  border-radius: 20px;
  font-size: 15px;
  word-spacing: 4em;
  height: 40px;
  color: white;

}



.date{
  font-size: 0.7em;
}

.blog-header{
  font-weight: bold;
  font-size: 1.4em;
  color: green;
  text-align: center;
}


.category-list{
  background-color: white;
  margin-top: 10px;
  padding: 10px;
  text-align: right;
}

.category-list-sm{
  background-color:  rgb(7, 3, 31);;
  padding: 10px;
  height: 150px;
  overflow: auto;

}

.eshop-ads{
  padding: 10px;
}

.eshop-ads-items{
  padding-bottom: 20px;
}

.category-item{
  padding-bottom: 10px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-product{
  color: black;
  margin-top: 20px;
  background-color: white;
}

.category-grid{
  width: 200px;
  height: auto;
}

.business-menu a{
  color: #01579b;
}

.product-review{
  line-height: 40px;
}

.manage-product{
  background: white;
  margin: 10px;
  padding: 10px;
  width: 200px;
}


.business-list{
  line-height: 40px;
  padding: 10px;
}

td{
  padding:10px;
  text-align: center;
}

.business-menu{
  border-right-color: #01579b;
  border-right-style: double;
  border-right-width: 2px;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 40px;
  padding: 10px;
 }


.business-navigation{
  background-color: #01579b;
  height: 60px;
  text-align: center;
  color: white;
  font-size: 1.68em;
  padding-top: 10px;
}


.menu-navigation{
  background-color: #01579b;
  min-height: 70px;
  color: white;
  text-align: center;
  font-size: 1.68em;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.signin-form{
  background-color: white;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.sign-in{
  height: 100vh;
  background-color: #01579b;
  background-image: url('c-d.svg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.signup-form{
  background-color: white;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.glyphs{
  font-size: 2em;
  color: white;
  padding: 5px;
}

.search-page{
  min-height: 100vh;
  background:#E1E8ED;
}

.ratings-reviews{

  background-color: white;
  padding: 10px;
  margin-bottom : 20px;

}

.client-image{
  height: 10px;
}

.heart-glyphs{
  font-size: 1.5em;
  color: red;
}

.fav-glyphs{
  font-size: 1.5em;
  color: orange;
}

.video-clip{
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
}

.err-msg{
  color: orange;
  text-align: center;
  font-weight: bold;
}

.success-msg{
  color: green;
  font-weight: bold;
}

.sm-nav-glyphs{
  padding-top: 5px;
  font-size: 1.3em;
}

.shelf{
  color: darkgoldenrod;
  font-family: 'Ubuntu';
  background-color: white;

}

.eshop-list{
  background-color: white;
  padding: 10px;
}

.eshop-category-menu{
  padding : 10px;
  line-height: 50px;
  background-color:#01579b;
  min-height: 500px;
  color: white;
}

.eshop-category-header{
  text-align: center;

}


.eshop-name{
  font-size : 1.33em;
  font-weight: bold;
  text-align: center;
  font-family: "Audiowide";
}


.eshop-navigation {
  background-color: #01579b;
  min-height: 70px;
  font-size: 1.98em;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm-eshop-navigation{

  background-color: #01579b;
  height: 70px;
  font-size: 1.5em;

}

.navbar{
  background-color: white;
}

.sponsored-images {
  font-size: 0;
  text-align: center ;
  width: 80%;
  height: 300px;
  line-height: 300px;
  margin: 20px;
}

.more-media {
  width: 100%;
}


.sponsored-image{
  display: inline-block;
  vertical-align: middle;
  height: 250px;
}

.sub-category-icons{
  color: #01579b;
  padding: 20px;
  margin: 10px;
}

.sub-category-icons a{
  color: #01579b;
}

.sponsored-gallery {
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.sponsored {
  background: #01579b;
  background-image: url('m-m.svg');
  width: 100%;
  min-height: 350px;
  text-align: center;
  color: white;
}

.iwansell-tv-title{
  color: white;
  text-align: left;
  margin-top: 20px;
  margin: 10px;
  background-color:#01579b;
  padding: 10px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}


.about-iwansell{
  color: black;
  box-shadow: 0 0 5px #01579b;
  text-align: left;
  margin-top: 20px;
  margin: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.slide-image {
  height: 250px;
  width: 100%;
  background-image: url('m-g.jpg');
  background-position: center;
  background-color: whitesmoke;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;

  
}

.category-slide {
  padding: 20px;
  margin: 10px;
  color: white;
  background-color: #E1E8ED;
}

.slide-items{
  margin: 0 20 20 0;
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center ;
  width: 200px;
  height: 200px;
  color: white;
  background-color: white;
  line-height: 300px;
}

.images{
  font-size: 0;
  margin: 0 20 20 0;
  text-align: center;
  box-shadow: 0 0 1px black;
  font-size: 0;
  text-align: center ;
  width: auto;
  height: 300px;
  line-height: 300px;
}

.lg-fonts{
  font-size: 0.8em;
}

.lg-client-dp{
  text-align: left;
  color: black;
  font-size: 1.3em;
}

.search-field{
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.result-view{
  margin-top: 10px;
}

.image{
  display: inline-block;
  vertical-align: middle;
  height: 200px;
}

.more-media{
  color: black;
}

.product-image{
  margin: 0 20 20 0;
  padding: 5px;
  text-align: center;
  font-size: 0;
  text-align: center ;
  width: auto;
  height: 200px;
  background-color: white;
  line-height: 200px;
}

.product-container{
  border: 2px solid #E1E8ED;
  background-color: #E1E8ED;
  border-radius: 5px;
  width: auto;
  margin-bottom: 20px;
  height: 300px;
}

.product-tip{
  color: black;
  background-color: white;
  font-family: "Ubuntu";
  font-size: 1.2em;
  font-weight: 'bold';
  text-align: center;
  padding: 5px;
  margin: 5px;

}


#product-info a{
  color: black;
  font-size: 20px;
}


.product-info{
  background-color: white;
  color: black;
  text-align: center;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.safety-tips{
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin: 10px;
}

.product-options{
  background-color: white;
  color: black;
  padding: 5px;
  margin-bottom : 20px;
}

.profile-image{

  font-size: 0;
  margin: 0 20 20 0;
  text-align: center;
  box-shadow: 0 0 1px black;
  font-size: 0;
  text-align: center ;
  width: auto;
  height: 300px;
  background-color: white;
  line-height: 300px;

}

.catch-board{
  font-size: 0;
  margin: 0 20 20 0;
  text-align: center;
  box-shadow: 0 0 1px black;
  font-size: 0;
  text-align: center ;
  width: auto;
  height: 300px;
  background-color: white;
  line-height: 300px;
}

.catch-image{
  display: inline-block;
  vertical-align: middle;
  height: 300px;
}

.dp-image{
  display: inline-block;
  vertical-align: middle;
  height: 300px;
}

img{
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
}

.sm-navigation{
  background-color:  red;
  height: 100px;
  font-size: 1.19em;
}

.app-name{
  font-family: 'Lexend Exa';
  font-size: 1.5em;
  text-align: center;
}

.logo-app-name{
  font-family: "Audiowide";
  font-size: 1.5em;
  font-weight: solid;
  color: red;
}

.sm-store{
  font-family: "Ubuntu";
  text-align: center;
  background-color:  rgb(7, 3, 31);
  height: auto;
  width: auto;
  color: white;
  font-size: 0.9em;
}

.lg-store{
  font-family: "Ubuntu";
  text-align: center;
  background-color:  rgb(7, 3, 31);
  height: auto;
  width: auto;
  color: white;
  font-size: 1.4em;
}

.smaller{
  font-size: 0.8em;
}

.price{
  color: orange;
  font-weight: bold;
}

.price-tag{
  background-color: #01579b;
  padding: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: 'Lexend Exa';
  width: 100%;
}

.merlin{

}

.merlin-text{
  font-size: 1.3em;
}

.merlin-name{
  text-align: right;
  font-weight:  bold;
}

.heading-lg{
  padding-top:10px;
  padding-left: 50px;
  margin-left: 20p;
  text-transform: uppercase;
  padding-bottom: 10px;
  background-color: white;
  font-size: 1.5em;
  font-weight: bold;
  color: #01579b;
  text-align: left;
  font-family: "Lexend Exa";
}


.heading-sm{
  padding-top:10px;
  padding-bottom: 10px;
  background-color: white;
  font-size: 1.5em;
  border-bottom-color: red;
  border-bottom-style: solid;
  border-bottom-width:5px;
  border-top-color: red;
  border-top-style: solid;
  border-top-width:5px;
  color: black;
  text-align: center;
  font-family: "Righteous";
}


.profile-name a{
  font-size: 1.3em;
  font-family: "Ubuntu";
  color: yellow;
}


.boss{
  font-size: 1.3em;
  font-family: "Ubuntu";
  background-color: white;
  padding: 2px;
  color: rgb(7, 3, 31);
}


.profile-name {
  font-size: 1.3em;
  font-family: "Ubuntu";
  color: white;
}

.eshop-name{

  font-size: 1.3em;
  font-family: "Audiowide";
  color: white;

}

.profile-description{

  background-color: #01579b;
  background-image: url('m-m.svg');
  padding-bottom: 5px;

}

.eshop-info{

}

.eshop-admin{

}

.profile{
  text-align: center;
}

#footer{
  color: gray;
  font-size: 15px;
}

.footer{
  background-color:  #052f50;
  height: auto;
  color: gray;
  font-size: 15px;
}

.welcome-message{
  font-size: 1.5em;
  color: white;
  text-align: center;
}

.campus-list{
  font-size: 1.4em;
  color: #01579b;
  word-spacing: 4em;
  text-align: center;
  padding: 10px;
  word-wrap: break-word;

}


.campus-list a{
  word-spacing: 5em;
  color: #01579b;
  padding-right: 30px;
  font-weight: 'bold';
  word-wrap: break-word;
}

.new-campus-list{
  background-color: whitesmoke;
  padding: 10px;
  box-shadow: 0 0 5px #666;
  border-radius: 5px;
}

.welcome-text{
  font-size:1.5em;
}


.welcome-text-lg{
  font-size: 1.9em;
  font-family: "Audiowide";
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.welcome-text-sm{
  font-family: "Audiowide";
  font-size: 1.49em;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.welcome-logo{
  display: inline-block;
  vertical-align: middle;
  height: 350px;

}

.welcome-logo-sm{
  display: inline-block;
  vertical-align: middle;
  height: 250px;

}

.logo-image-wrapper{
  background-color: #01579b;
  height: 50;
  width: 50;
}

.logo {
  color: #01579b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.logo-sm {
  color: #01579b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.welcome {
  background-color: white;
  text-align: center;
  vertical-align: middle;
  color: rgb(7, 3, 31);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.haggle-header{
  padding-top: 10px;
  text-align: center;
}

.haggle-list{
  padding-top: 10px;
}

.chats{
  background-color: rgb(234, 239, 241);
  padding-left: 10px;
  width: 50%;
}

.chat-list{
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  height: 450px;
}

.landing-page{
  text-align: center;
  color: white;
  background: #E1E8ED;
}

.landing-view{
  background: whitesmoke;
  background-image: url('bg11.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Baloo Bhai';
  font-size: 15px;
}

.side-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}


.intro-text{
  text-align: left;
  font-family: 'Baloo Bhai';
}

.intro-header{
  color: white;
  background-color: #01579b;
  background-image: url('e-d2.svg');
  padding: 5px;
  font-size: 30px; 
  box-shadow: 0 0 5px grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Lexend Exa';
}

.intro-header-2{
  color: white;
  font-size: 30px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Baloo Bhai';
}

.school{
  color: white;
  font-size: 12px; 
  font-family: 'Baloo Bhai';
  margin-left: 10px;
}

.school-2{
  color: black;
  font-size: 12px; 
  font-family: 'Baloo Bhai';
  margin-left: 10px;
}

.slogan{
  color: white;
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  font-size: 10px; 
}


.intro-footer{
  color: black;
  padding: 10px;
  font-size: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.landing-view1{
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px #E1E8ED;
  min-height: 300px;
  min-width: 300px;
  color: black;
  border-radius: 10px;
  padding: 10px;
}

.landing-view2{
  color: black;
  padding: 10px;
}


.campus-text{
  line-height: 90px;
}


.profile-display{
  font-size: .5em;
}

.ehaggler-icon{
  font-size: .5em;
}

.ehaggler-dp{
  height: 50;
  widows: 50;
}

.profile-icon{
  font-size: .5em;
}

.haggle-table{
  background-color: white;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: white;
  border-radius: 5px;
  height: 350px;
  overflow: auto;
}

.no-haggles{
  text-align: center;
  background-color: white;
  margin-top: 70px;
  border-radius: 5px;
  height: 350px;
  line-height: 350px;

}

.haggle-table-sm{
  background-color: white;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: white;
  border-radius: 5px;
  margin-top: 20px;
}

.haggler-from{
  text-align: left;
  background-color: rgb(234, 239, 241);
  max-width: 60%;
  color: black;
  position: relative;
  padding: 5px;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: white;
  border-radius: 5px;

}

.haggler-to{
  text-align: right;
  background-color:rgb(234, 239, 241);
  color: black;
  max-width: 60%;
  left: 40%;
  position: relative;
  padding: 5px;
  border-width: 10px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
}



.msgbox{
  text-align: center;
  font-size: 1.9em;
}

.about{
  padding-top: 15px;
  font-size: 1.3em;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-family: "Lexend Exa";
}

.login-appname{
  padding: 10px;
  height: 50px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 5px #01579b;
  border-radius: 5px;
  padding: 5px;
}

.go-to-top{
  background-color:  #073b63;
  text-align: center;
  padding: 5px;
  font-family: "Lexend Exa";
  color: white;
}

.copyright{
  background-color: #032036;
  text-align: center;
  font-size: 10px;
  padding: 5px;
  color: whitesmoke;
  font-family: "Lexend Exa";
}


.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card {
  flex: 0 0 auto;
  margin-right: 3px;
  display: inline-block;
  border: 1px solid grey;
  min-width: 150px;
  height: 150px;
  background: white;
  vertical-align: middle;
  text-align: center;
}

.card-image{
  display: inline-block;
  vertical-align: middle;
  height: 150px;
}



.scrolling-wrapper, .scrolling-wrapper-flexbox {
  height: 150px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  display: none;
}


/********************************************/

.scrolling-wrapper-eshop {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-wrapper-eshop-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card-eshop {
  flex: 0 0 auto;
  margin-right: 3px;
  display: inline-block;
  border: 1px solid white;
  min-width: 150px;
  height: 100px;
  background: white;
}

.scrolling-wrapper-eshop, .scrolling-wrapper-eshop-flexbox {
  height: 170px;
  width: 100%;
  border-top-style: ridge;
  border-top-width: 5px;
  border-top-color: darkgoldenrod;
  border-bottom-style: ridge;
  border-bottom-width: 5px;
  border-bottom-color: darkgoldenrod;
  -webkit-overflow-scrolling: touch;
}














  .cl { clear: both; }

	#main {
	  -webkit-column-width: 202px;
    -moz-column-width: 202px;
	  -o-column-width: 202px;
	  -ms-column-width: 202px;
	  column-width: 202px;
}

.box { padding: 10px 0 0 15px; }
.pic {
	  padding: 10px;
	  border: 1px solid #ccc;
	  border-radius: 5px;
	  width: 180px;
	  box-shadow: 0 0 1px #666;
	}

.pic img {
	  width: 180px;
	  height: auto;
	  display: block;
}



#main-sm {
  -webkit-column-width: 130px;
  -moz-column-width: 130px;
  -o-column-width: 130px;
  -ms-column-width: 130px;
  column-width: 130px;
}

.box-sm { padding: 1px 0 0 1px; }
.pic-sm {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 140px;
  box-shadow: 0 0 1px #666;
}

.pic-sm img {
  width: 140px;
  height: auto;
  display: block;
}
